<div class="block-8">
  <h2>Фотогалерея</h2>
  <div class="js-custom-scroll gallery">
    <div class="gallery__list">
      <div class="gallery__item">
        <a href="images/content/block_8/img_1.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_1.jpg" alt="Изображение 1">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_2.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_2.jpg" alt="Изображение 2">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_3.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_3.jpg" alt="Изображение 3">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_1.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_1.jpg" alt="Изображение 1">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_2.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_2.jpg" alt="Изображение 2">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_3.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_3.jpg" alt="Изображение 3">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_1.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_1.jpg" alt="Изображение 1">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_2.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_2.jpg" alt="Изображение 2">
        </a>
      </div>
      <div class="gallery__item">
        <a href="images/content/block_8/img_3.jpg" data-fancybox="images">
          <img src="images/content/block_8/img_3.jpg" alt="Изображение 3">
        </a>
      </div>
    </div>
  </div>
</div>