<div id="2" class="block-5">
  <div id="map" class="map"></div>
  <div class="block-5__container">
    <div class="address-block">
      <p class="address-block__title">Адреса наших складов</p>
      <p class="address-block__city">Санкт-Петербург</p>
      <p class="address-block__address" data-id="id_1">Кудрово, пр. Строителей 7</p>
      <p class="address-block__address" data-id="id_2">Пискаревский пр. 150 к2</p>
      <p class="address-block__address" data-id="id_3">Выборгское шоссе, 200А</p>
      <p class="address-block__address" data-id="id_4">Маршала Казакова, 21</p>
      <p class="address-block__address" data-id="id_5">Лиговский пр./Растанная (Камчатская, 1)</p>
      <p class="address-block__address" data-id="id_6">ТРК "ЛЕТО" (7ой-Предпортовый проезд, 1А)</p>
    </div>
  </div>
</div>