<div class="block-4">
  <div class="container">
    <h2>С нами легко</h2>
    <p class="block-4__text">Мы — «Место Есть», склады для индвидуального хранения вещей<br> на базе морских контейнеров от 3,5&nbsp;м<sup>2</sup>&nbsp;до&nbsp;30&nbsp;м<sup>2</sup></p>
    <div class="features2">
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-1.svg" alt="Круглосуточный доступ">
          <p>Круглосуточный<br> доступ</p>
        </div>
      </div>
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-2.svg" alt="Круглосуточный доступ">
          <p>Видеонаблюдение</p>
        </div>
      </div>
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-3.svg" alt="Круглосуточный доступ">
          <p>Принимаем все<br> виды оплаты</p>
        </div>
      </div>
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-4.svg" alt="Круглосуточный доступ">
          <p>Аренда<br> от двух недель</p>
        </div>
      </div>
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-5.svg" alt="Круглосуточный доступ">
          <p>Чистые<br> и герметичные<br> склады</p>
        </div>
      </div>
      <div class="features2__item">
        <div class="feature2">
          <img src="images/icons/block-4/icon-6.svg" alt="Круглосуточный доступ">
          <p>Сохранность</p>
        </div>
      </div>
    </div>
  </div>
</div>