<div id="4" class="block-7">
  <div class="container">
    <h2>Акции и скидки</h2>
    <p class="block-7__text">За подробностями обращайтесь к менеджеру</p>
    <div class="features4">
      <div class="features4__item">
        <div class="js-action feature4" title="Кликни чтобы открыть!">
          <div class="feature4__inner">
            <div class="feature4__image">
              <img src="images/icons/block-7/icon-1.svg" alt="">
            </div>
            <p class="feature4__text">Неделя в подарок<br> при аренде от месяца</p>
            <div class="feature4__dropdown-container">
              <p class="feature4__text-small">Акция для всех новых клиентов</p>
              <p class="feature4__dropdown">Первая неделя аренды бесплатно - акция для всех новых клиентов при аренде от месяца, чтобы воспользоваться предложением, необходимо сообщить менеджеру о том, что об акции Вы узнали на нашем сайте.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="features4__item">
        <div class="js-action feature4" title="Кликни чтобы открыть!">
          <div class="feature4__inner">
            <div class="feature4__image">
              <img width="210" src="images/icons/block-7/icon-2.png" alt="">
            </div>
            <p class="feature4__text">Скидка на грузоперевозки<br> «Грузовичкоф» — 20%</p>
            <div class="feature4__dropdown-container">
              <p class="feature4__text-small">Только для наших клиентов</p>
              <p class="feature4__dropdown">Не слишком длинное описание акции</p>
            </div>
          </div>
        </div>
      </div>
      <div class="features4__item">
        <div class="feature4">
          <div class="feature4__inner">
            <div class="feature4__image">
              <img src="images/icons/block-7/icon-3.svg" alt="">
            </div>
            <p class="feature4__text">Скидки до 15%<br> при единовременной оплате</p>
          </div>
        </div>
      </div>
      <div class="features4__item">
        <div class="feature4">
          <div class="feature4__inner">
            <div class="feature4__image">
              <img src="images/icons/block-7/icon-4.svg" alt="">
            </div>
            <p class="feature4__text">Приведи друга и получи<br> неделю в подарок</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>