<div id="1" class="block-2">
  <div class="container">
    <h2>Боксы</h2>
    <p>При бронировании на 2 месяца — скидка 3%, на 3 месяца — 5% <a href="#" target="_blank">Скачать прайс</a></p>
    <div class="tabs-nav">
      <a class="tabs-nav__item is-active" href="#" data-target="1">
        <span class="tabs-nav__item-title">XS</span>
        <span class="tabs-nav__item-square">2,5 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 500 ₽</span>
      </a>
      <a class="tabs-nav__item" href="#" data-target="2">
        <span class="tabs-nav__item-title">S</span>
        <span class="tabs-nav__item-square">3,5 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 390 ₽</span>
      </a>
      <a class="tabs-nav__item" href="#" data-target="3">
        <span class="tabs-nav__item-title">M</span>
        <span class="tabs-nav__item-square">4,6 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 890 ₽</span>
      </a>
      <a class="tabs-nav__item" href="#" data-target="4">
        <span class="tabs-nav__item-title">L</span>
        <span class="tabs-nav__item-square">6,8 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 3 800 ₽</span>
      </a>
      <a class="tabs-nav__item" href="#" data-target="5">
        <span class="tabs-nav__item-title">XL</span>
        <span class="tabs-nav__item-square">13,8 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 25 100 ₽</span>
      </a>
      <a class="tabs-nav__item" href="#" data-target="6">
        <span class="tabs-nav__item-title">XXL</span>
        <span class="tabs-nav__item-square">28,2 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 6 500 ₽</span>
      </a>
    </div>
  </div>
  <div class="tab is-active" data-target="1">
    <div class="container">
      <div class="tab__image"></div>
      <div class="tab__info">
        <div class="box-info">
          <h3>Бокс S</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_1">
              <input id="price_1_box_1" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text">2 недели <span class="medium">2 390 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_1">
              <input id="price_2_box_1" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text">1 месяц <span class="medium">3 450 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_1">
              <input id="price_3_box_1" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text">2 месяца <span class="medium">6 650 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_1">
              <input id="price_4_box_1" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text">3 месяца <span class="medium">9 850 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tab" data-target="2"></div>
  <div class="tab" data-target="3"></div>
  <div class="tab" data-target="4"></div>
  <div class="tab" data-target="5"></div>
  <div class="tab" data-target="6"></div>
</div>