<div id="6" class="block-9">
  <h2>Отзывы</h2>
  <div class="review-meter">
    <div class="review-meter__source"><img width="92" src="images/content/block_9/ya.jpg" alt="Яндекс"></div>
    <div class="review-meter__rating">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
    </div>
    <div class="review-meter__score">4.0</div>
    <div class="review-meter__count">19 отзывов</div>
  </div>
  <div class="review-meter">
    <div class="review-meter__source"><img width="108" src="images/content/block_9/google.jpg" alt="Google"></div>
    <div class="review-meter__rating">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
      <img src="images/icons/star.svg" alt="1 звезда">
    </div>
    <div class="review-meter__score">4.0</div>
    <div class="review-meter__count">19 отзывов</div>
  </div>
  <div class="js-custom-scroll reviews">
    <div class="reviews__list">
      <div class="reviews__item reviews__item--video">
        <a href="https://www.youtube.com/watch?v=mK72EwuxZAU" data-fancybox="reviews">
          <img src="images/content/block_9/img_1.jpg" alt="Видео отзыв 1">
        </a>
      </div>
      <div class="reviews__item">
        <div class="review">
          <p class="review__text">Уже 2 месяца снимаем бокс S под склад для нашего интернет-магазина. Удобно что ключи есть у курьеров, менеджера и у меня, привезти и забрать товар можно в любое время.</p>
          <p class="review__author">Анастасия Ковалёва</p>
        </div>
      </div>
      <div class="reviews__item">
        <div class="review">
          <p class="review__text">Спасибо Место Есть! Молодцы, рассчитали нужный размер и в этот же день приняли нас на склад. Отдельное спасибо Юлии! Скоро закончим ремонт, большой контейнер уже не понадобится, но хотим снимать у Вас 3,5 как
            кладовку.</p>
          <p class="review__author">Вера Иванова</p>
        </div>
      </div>
      <div class="reviews__item">
        <div class="review">
          <p class="review__text">В декабре арендовал контейнер 40 футов для хранения ёлок. Больше всего порадовала цена и что ночью тоже есть доступ. Пригодилась розетка, когда остался ночью без связи.</p>
          <p class="review__author">Эрик Мизрахи</p>
        </div>
      </div>
      <div class="reviews__item">
        <div class="review">
          <p class="review__text">Я арендовал контейнер 7 метров с октября по февраль. Контейнер сухой, герметичный, свет и электричество работали. Снег зимой убирали. Все понравилось, спасибо!</p>
          <p class="review__author">Владимир Соловьев</p>
        </div>
      </div>
    </div>
  </div>
</div>