<div id="2" class="block-5">
  <div id="map" class="map"></div>
  <div class="block-5__container">
    <div class="address-block">
      <p class="address-block__title">Адреса наших складов</p>
      <p class="address-block__city">Санкт-Петербург</p>
      <p class="address-block__address is-active">Кудрово, пр. Строителей 7</p>
      <p class="address-block__address">Пискаревский пр. 150 к2</p>
      <p class="address-block__address">Выборгское шоссе, 200А</p>
      <p class="address-block__address">Маршала Казакова, 21</p>
      <p class="address-block__address">Лиговский пр./Растанная (Камчатская, 1)</p>
      <p class="address-block__address">ТРК "ЛЕТО" (7ой-Предпортовый проезд, 1А)</p>
      <p class="address-block__city">Санкт-Петербург</p>
      <p class="address-block__address">ул. Хадии Давлетшиной, 30</p>
    </div>
  </div>
</div>