<div class="block-11">
  <h2>Вопросы, на которые мы уже ответили</h2>
  <div class="questions">
    <div class="question">
      <p class="js-question-opener question__title">
        <img src="images/icons/block_11/icon-1.svg" alt="">Где находятся боксы «Место есть» ?
      </p>
      <div class="question__cut">
        <p>У нас 8 площадок, и мы планируем расширяться. Сейчас можно арендовать склад по адресам:<p>
            <p>
              Площадка №1. Пискаревский пр. 150 корп. 2 <br>
              Площадка №2. Кудрово, пр. Строителей 7<br>
              Площадка №3. Выборгское шоссе, 200 А<br>
              Площадка №4. Маршала Казакова, 21<br>
            </p>
      </div>
    </div>
    <div class="question">
      <p class="js-question-opener question__title">
        <img src="images/icons/block_11/icon-2.svg" alt="">Что можно хранить в морских контейнерах?
      </p>
      <div class="question__cut">
        <p>Наши склады арендуют для хранения личных вещей и для хранения различных грузов и товаров. Семьи хранят коляски, сезонные вещи и старую мебель. Дачники часто арендуют склад-контейнер для хранения газонокосилок и теплиц, а спортсмены зимой
          хранят мотоциклы, велосипеды и катера. Большие контейнеры арендуют под мебель, бытовую технику и грузы: товары для продажи в интернет-магазинах, паллеты, стройматериалы и всё для ремонта.</p>
      </div>
    </div>
    <div class="question">
      <p class="js-question-opener question__title">
        <img src="images/icons/block_11/icon-3.svg" alt="">Что нельзя хранить в боксе?
      </p>
      <div class="question__cut">
        <p>На наших складах можно хранить всё, кроме товаров, запрещенных к продаже, изъятых из оборота или ограниченных в обороте: оружие, боеприпасы, ядовитые, взрывоопасные, радиоактивные и отравляющие вещества, а также прочие вещества и
          предметы,
          опасные для жизни и здоровья человека или вредные для окружающей среды, животных.</p>
      </div>
    </div>
    <div class="question">
      <p class="js-question-opener question__title">
        <img src="images/icons/block_11/icon-4.svg" alt="">Как осуществляется доступ на склад?
      </p>
      <div class="question__cut">
        <p>Доступ осуществляется круглосуточно по заранее оформленным пропускам. Пропуск оформляется на этапе заключения договора. Дополнительные пропуска (на дополнительные машины) оформляется по звонку нашему менеджеру.<br> <span class="color-black">Все
            пропуска и доступ на территорию – Бесплатно.</span></p>
      </div>
    </div>
    <div class="question">
      <p class="js-question-opener question__title">
        <img src="images/icons/block_11/icon-5.svg" alt="">Вы осуществляете грузоперевозки?
      </p>
      <div class="question__cut">
        <p>Да, мы сотрудничаем с ведущими компаниями Санкт-Петербурга, можем заказать для Вас перевозку как с грузчиками, так и без них, со скидкой 20% от рыночной цены. Подберем необходимый размер и закажем для Вас автомобиль в любое время дня и
          ночи.</p>
      </div>
    </div>
  </div>
</div>