<div class="block-1">
  <div class="container">
    <div class="features">
      <div class="features__item">
        <div class="feature">
          <img src="images/icons/block-1/icon-1.svg" alt="24/7">
          <p class="feature__text">Позвоните нам 24/7</p>
        </div>
      </div>
      <div class="features__separator"><img src="images/icons/arrow-right.svg" alt=""></div>
      <div class="features__item">
        <div class="feature">
          <img src="images/icons/block-1/icon-2.svg" alt="Оптимальный размер">
          <p class="feature__text">Подберем для вас<br> оптимальное расположение<br> и размер бокса</p>
        </div>
      </div>
      <div class="features__separator"><img src="images/icons/arrow-right.svg" alt=""></div>
      <div class="features__item">
        <div class="feature">
          <img src="images/icons/block-1/icon-3.svg" alt="Оплата онлайн">
          <p class="feature__text">Заключение договора<br> и оплата — онлайн</p>
        </div>
      </div>
      <div class="features__separator"><img src="images/icons/arrow-right.svg" alt=""></div>
      <div class="features__item">
        <div class="feature">
          <img src="images/icons/block-1/icon-4.svg" alt="Перевозки">
          <p class="feature__text">Заезжаете на склад<br> (при необходимости<br> организуем перевозки)</p>
        </div>
      </div>
    </div>
  </div>
</div>