<div id="1" class="block-2">
  <div class="container">
    <h2>Боксы</h2>
    <p>При бронировании на 2 месяца — скидка 3%, на 3 месяца — 5% <a class="block-2__download-link" href="#" target="_blank">Скачать прайс</a></p>
    <div class="tabs-nav">
      <a class="js-tab-nav tabs-nav__item is-active" href="#" data-target="1">
        <span class="tabs-nav__item-title">XS</span>
        <span class="tabs-nav__item-square">2,5 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 500 ₽</span>
      </a>
      <a class="js-tab-nav tabs-nav__item" href="#" data-target="2">
        <span class="tabs-nav__item-title">S</span>
        <span class="tabs-nav__item-square">3,5 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 390 ₽</span>
      </a>
      <a class="js-tab-nav tabs-nav__item" href="#" data-target="3">
        <span class="tabs-nav__item-title">M</span>
        <span class="tabs-nav__item-square">4,6 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 2 890 ₽</span>
      </a>
      <a class="js-tab-nav tabs-nav__item" href="#" data-target="4">
        <span class="tabs-nav__item-title">L</span>
        <span class="tabs-nav__item-square">6,8 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 3 800 ₽</span>
      </a>
      <a class="js-tab-nav tabs-nav__item" href="#" data-target="5">
        <span class="tabs-nav__item-title">XL</span>
        <span class="tabs-nav__item-square">13,8 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 25 100 ₽</span>
      </a>
      <a class="js-tab-nav tabs-nav__item" href="#" data-target="6">
        <span class="tabs-nav__item-title">XXL</span>
        <span class="tabs-nav__item-square">28,2 м<sup>2</sup></span>
        <span class="tabs-nav__item-price">от 6 500 ₽</span>
      </a>
    </div>
  </div>
  <div class="js-tab tab is-active" data-target="1">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-1.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-1.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс XS</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_2_box_1">
              <input id="price_2_box_1" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">2 500 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_1">
              <input id="price_3_box_1" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">4 850 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_1">
              <input id="price_4_box_1" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">7 125 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab tab" data-target="2">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-2.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-2.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс S</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_2">
              <input id="price_1_box_2" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 недели</span> <span class="medium">2 390 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_2">
              <input id="price_2_box_2" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">3 450 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_2">
              <input id="price_3_box_2" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">6 650 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_2">
              <input id="price_4_box_2" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">9 850 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab tab" data-target="3">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-3.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-3.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс M</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_3">
              <input id="price_1_box_3" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 недели</span> <span class="medium">2 890 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_3">
              <input id="price_2_box_3" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">4 850 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_3">
              <input id="price_3_box_3" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">9 400 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_3">
              <input id="price_4_box_3" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">13 800 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab tab" data-target="4">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-4.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-4.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс L</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_4">
              <input id="price_1_box_4" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 недели</span> <span class="medium">3 800 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_4">
              <input id="price_2_box_4" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">5 850 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_4">
              <input id="price_3_box_4" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">11 350 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_4">
              <input id="price_4_box_4" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">16 650 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab tab" data-target="5">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-5.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-5.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс XL</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_5">
              <input id="price_1_box_5" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 недели</span> <span class="medium">5 100 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_5">
              <input id="price_2_box_5" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">8 500 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_5">
              <input id="price_3_box_5" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">16 490 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_5">
              <input id="price_4_box_5" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">24 250 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
  <div class="js-tab tab" data-target="6">
    <div class="container">
      <div class="tab__image-block">
        <img class="tab__image" src="images/content/block_2/box-6.png" alt="Бокс XS">
        <div class="tab__pseudo-image" style="background-image: url('images/content/block_2/box-6.png')"></div>
      </div>
      <div class="tab__info">
        <div class="box-info">
          <h3 class="box-info__title">Бокс XXL</h3>
          <p>Идеально для хранения вещей однокомнатной квартиры или студии во время ремонта</p>
          <div class="box-info__prices">
            <label class="radio-label" for="price_1_box_6">
              <input id="price_1_box_6" type="radio" name="price" val="1">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 недели</span> <span class="medium">6 500 ₽</span></span>
            </label>
            <label class="radio-label" for="price_2_box_6">
              <input id="price_2_box_6" type="radio" name="price" val="2">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">1 месяц</span> <span class="medium">10 000 ₽</span></span>
            </label>
            <label class="radio-label" for="price_3_box_6">
              <input id="price_3_box_6" type="radio" name="price" val="3">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">2 месяца</span> <span class="medium">19 400 ₽</span></span>
            </label>
            <label class="radio-label" for="price_4_box_6">
              <input id="price_4_box_6" type="radio" name="price" val="4">
              <span class="radio-icon"></span>
              <span class="radio-label__text"><span class="box-info__period">3 месяца</span> <span class="medium">28 800 ₽</span></span>
            </label>
          </div>
          <button class="button button--type_2" type="button" data-fancybox="" data-src="#popup">Забронировать бокс</button>
        </div>
      </div>
    </div>
  </div>
</div>