<div class="block-6">
  <div class="container">
    <h2>Наши дополнительные услуги</h2>
    <div class="features3">
      <div class="features3__block">
        <div class="features3__item">
          <div class="feature3">
            <div class="feature3__image"><img src="images/icons/block-6/icon-1.svg" alt="Антивандальные замки"></div>
            <p>Предоставляем в аренду<br> контейнерные антивандальные замки<br> с системой защиты «Антивзлом»</p>
          </div>
        </div>
        <div class="features3__item">
          <div class="feature3">
            <div class="feature3__image"><img src="images/icons/block-6/icon-2.svg" alt="Разгрузка"></div>
            <p>Разгрузка на площадке: вилочные<br> погрузчики или ручная разгрузка<br> по предварительной записи</p>
          </div>
        </div>
      </div>
      <div class="features3__block">
        <div class="features3__item">
          <div class="feature3">
            <div class="feature3__image"><img src="images/icons/block-6/icon-3.svg" alt="Стеллажи и полки"></div>
            <p>При необходимости организуем<br> для вас пространство: установим<br> стеллажи или полки</p>
          </div>
        </div>
        <div class="features3__item">
          <div class="feature3">
            <div class="feature3__image"><img src="images/icons/block-6/icon-4.svg" alt="Грузоперевозки"></div>
            <p>Организуем для вас грузоперевозки<br> — как с грузчиками, так и без</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>