<div id="7" class="block-10">
  <h2>Блог</h2>
  <div class="js-custom-scroll blog-list">
    <div class="blog-list__list">
      <div class="blog-list__item">
        <div class="blog" data-fancybox="blog" data-src="#blog_1">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Заголовок записи блога</p>
            <p class="blog__preview-text">Красткое описание на пару строк о том что будет написано в записи блога</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
        <div class="popup-wrapper" style="display: none">
          <div id="blog_1" class="blog-popup">
            <button class="js-popup-closer blog-popup__close" type="button" title="Закрыть">
              <svg class="blog-popup__close-icon" aria-hidden="true">
                <use xlink:href="#close" />
              </svg>
            </button>
            <p class="blog-popup__date">12.12.2019</p>
            <p class="blog-popup__title">Название статьи</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor facilisis adipiscing hac et dui, laoreet feugiat sit. Id vivamus ornare ut vivamus congue euismod suspendisse justo, mi. Odio tortor, in nisl cursus luctus ac porttitor
              nulla in. Eu id congue quam molestie pulvinar quisque. Aliquam eleifend lectus aliquet adipiscing ullamcorper.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Luctus condimentum rhoncus, eget tincidunt faucibus sapien erat. Tempor lobortis habitasse fermentum, at ligula facilisi non, et arcu. In molestie enim semper cursus. Orci arcu
              proin neque est nec. Quam id odio risus feugiat nullam enim at. Sit quis id eget ut vitae aliquam vestibulum. Est tempor vitae aenean pellentesque amet morbi. Commodo bibendum ultrices egestas tortor diam cursus pretium. Morbi elit
              tincidunt a massa senectus sagittis facilisi aliquam dui.</p>
            <p class="blog-popup__image"><img src="images/content/block_10/img_2.jpg" alt="Изображение"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat at vulputate ultrices facilisi. Nisl purus purus tortor sit sollicitudin pulvinar etiam. Cursus urna et justo, varius erat dolor. Suscipit consequat et nec, viverra.
              Nunc tincidunt turpis orci molestie sit lacus. Pretium mi elit augue condimentum. Vitae pulvinar vel in mi, dolor, diam. Sit nascetur molestie vulputate enim justo, velit eget et. Turpis phasellus et vitae egestas varius eget diam
              pharetra. Gravida urna massa a semper facilisis sed et rutrum congue. Ridiculus vel faucibus gravida mattis sed ut vitae. Semper semper feugiat porttitor urna, consectetur sit enim. Posuere est elit ornare feugiat. Placerat orci
              egestas lectus posuere. Arcu sed auctor molestie duis leo venenatis amet, eu. Feugiat non posuere lorem ultrices vulputate eget. Nulla dui sagittis posuere suspendisse ut ac dolor gravida sit. Curabitur sed sed tortor, pulvinar non. In
              feugiat sed neque malesuada risus sed feugiat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor facilisis adipiscing hac et dui, laoreet feugiat sit. Id vivamus ornare ut vivamus congue euismod suspendisse justo, mi. Odio tortor, in nisl cursus luctus ac porttitor
              nulla in. Eu id congue quam molestie pulvinar quisque. Aliquam eleifend lectus aliquet adipiscing ullamcorper.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor facilisis adipiscing hac et dui, laoreet feugiat sit. Id vivamus ornare ut vivamus congue euismod suspendisse justo, mi. Odio tortor, in nisl cursus luctus ac porttitor
              nulla in. Eu id congue quam molestie pulvinar quisque. Aliquam eleifend lectus aliquet adipiscing ullamcorper.</p>
            <p class="blog-popup__image"><img src="images/content/block_10/img_3.jpg" alt="Изображение"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor facilisis adipiscing hac et dui, laoreet feugiat sit. Id vivamus ornare ut vivamus congue euismod suspendisse justo, mi. Odio tortor, in nisl cursus luctus ac porttitor
              nulla in. Eu id congue quam molestie pulvinar quisque. Aliquam eleifend lectus aliquet adipiscing ullamcorper.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor facilisis adipiscing hac et dui, laoreet feugiat sit. Id vivamus ornare ut vivamus congue euismod suspendisse justo, mi. Odio tortor, in nisl cursus luctus ac porttitor
              nulla in. Eu id congue quam molestie pulvinar quisque. Aliquam eleifend lectus aliquet adipiscing ullamcorper.</p>
          </div>
        </div>
      </div>
      <div class="blog-list__item">
        <div class="blog">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="blog__preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio amet placeat eius quis nesciunt nam magni. Laboriosam ut dolore harum?</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
      </div>
      <div class="blog-list__item">
        <div class="blog">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Lorem ipsum dolor sit amet</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
      </div>
      <div class="blog-list__item">
        <div class="blog">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Заголовок записи блога</p>
            <p class="blog__preview-text">Красткое описание на пару строк о том что будет написано в записи блога</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
      </div>
      <div class="blog-list__item">
        <div class="blog">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="blog__preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio amet placeat eius quis nesciunt nam magni. Laboriosam ut dolore harum?</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
      </div>
      <div class="blog-list__item">
        <div class="blog">
          <div class="blog__image"><img src="images/content/block_10/img_1.jpg" alt="Превью для записи блога"></div>
          <div class="blog__inner">
            <p class="blog__date">12.12.2019</p>
            <p class="blog__title">Lorem ipsum dolor sit amet</p>
            <p class="blog__read-more">Читать</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>