<div class="block-9">
  <h2>Отзывы </h2>
  <div class="js-custom-scroll reviews">
    <div class="reviews__list">
      <div class="reviews__item reviews__item--video">
        <a href="https://www.youtube.com/watch?v=mK72EwuxZAU" data-fancybox="reviews">
          <img src="images/content/block_9/img_1.jpg" alt="Видео отзыв 1">
        </a>
      </div>
      <div class="reviews__item">
        <div class="review">
          <p class="review__text">Уже 2 месяца снимаем бокс S под склад для нашего интернет-магазина. Удобно что ключи есть у курьеров, менеджера и у меня, привезти и забрать товар можно в любое время.</p>
          <p class="review__author">Иван Петров</p>
        </div>
      </div>
    </div>
  </div>
</div>