<footer class="footer">
  <div class="footer__top container">
    <div class="footer__logo">
      <img src="images/logo.svg" alt="Место есть">
    </div>
    <p class="footer__copyright">2019 © Все права защищены. Место Есть</p>
    <p class="footer__phone-block">
      <a class="footer__phone" href="tel:+78124438727">8 812 443-87-27</a>
      <span class="footer__phone-note">Круглосуточно</span>
    </p>
    <p class="footer__email"><a class="footer__email-link" href="mailto:info@mestoest.ru">info@mestoest.ru</a></p>
    <button class="button button--type_2" type="button" data-fancybox="popup2" data-src="#popup">Забронировать бокс</button>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="social-links">
        <a class="social-link" href="#" target="_blank" title="Facebook">
          <img src="images/icons/fb.svg" alt="Facebook">
        </a>
        <a class="social-link" href="#" target="_blank" title="Вконтакте">
          <img src="images/icons/vk.svg" alt="Vk.com">
        </a>
        <a class="social-link" href="#" target="_blank" title="Instagram">
          <img src="images/icons/inst.svg" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
</footer>