<header class="header">
  <div class="header__top container">
    <div class="header__logo">
      <img src="images/logo.svg" alt="Место есть">
    </div>
    <p class="header__slogan">Всегда «Место есть» для личного пространства</p>
    <p class="header__phone-block">
      <a class="header__phone" href="tel:+78124438727">8 812 443-87-27</a>
      <span class="header__phone-note">Круглосуточно</span>
    </p>
    <button class="button button--type_1" type="button" data-fancybox="popup" data-src="#popup">Забронировать бокс</button>
    <button class="js-menu-opener menu-opener" type="button">
      <svg class="menu-opener__icon" aria-hidden="true">
        <use xlink:href="#burger" />
      </svg>
    </button>
  </div>
  <nav class="main-menu">
    <button class="js-menu-closer menu-closer" type="button">
      <svg class="menu-closer__icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
    <div class="container">
      <ul id="main-menu" class="main-menu__list">
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#1">Боксы и цены</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#2">Адреса</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#3">Дополнительные услуги</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#4">Акции</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#5">Фотогалерея</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#6">Отзывы</a></li>
        <li class="main-menu__item"><a class="js-scroll-link main-menu__link" href="#7">Блог</a></li>
        <li class="main-menu__item main-menu__item--desktop">
          <a class="phone-button" href="tel:+78124438727" title='Позвонить нам'>
            <svg class="phone-button__icon" aria-hidden="true">
              <use xlink:href="#phone" />
            </svg>
          </a>
        </li>
        <li class="main-menu__item main-menu__item--desktop">
          <button class="button button--type_2" type="button" data-fancybox="popup_11" data-src="#popup">Забронировать бокс</button>
        </li>
      </ul>
    </div>
  </nav>
</header>