.block-4
  background-color: $brand_color_2
  color: #fff
  padding-top: 40px
  padding-bottom: 40px
  text-align: center

  @media(min-width: 1200px)
    padding-top: 90px
    padding-bottom: 50px

  @media(min-width: 1600px)
    padding-top: 140px
    padding-bottom: 65px

  .container
    max-width: 1270px

    @media(min-width: 1600px)
      max-width: 1480px

  h2
    color: #fff
    margin-bottom: 32px

  &__text
    color: #F2F2F2
    margin-bottom: 64px

.features2
  display: flex
  flex-wrap: wrap
  font-size: 14px
  margin-left: -10px
  margin-right: -10px

  @media(min-width: 768px)
    margin-right: 0
    margin-left: 0

  @media(min-width: 992px)
    justify-content: space-between

  @media(min-width: 1200px)
    font-size: 16px

  @media(min-width: 1600px)
    font-size: 20px

  @media(min-width: 1900px)
    font-size: 24px

  &__item
    padding-left: 10px
    padding-right: 10px
    width: 50%

    @media(min-width: 600px)
      padding: 0
      width: 33.33333%

    @media(min-width: 992px)
      margin-bottom: 0
      width: auto

    &:not(:last-child)
      margin-bottom: 30px

      @media(min-width: 1200px)
        margin-bottom: 0

.feature2
  img
    margin-bottom: 23px
